<!-- TODO: Enable Login after getting fileparsing done -->
<!-- <app-login></app-login> -->
<div class="wrapper column full-center">
  <app-files-main-menu
    [currUser]="hardcodedUser"
    (displayParsedFiles)="setIsParsedFileVisible($event)"
    (parsedFileChange)="onParseFileChange($event)"
  ></app-files-main-menu>

  <!-- Dynamic Components -->
  <app-parsed-file-view
    *ngIf="isParsedFileVisible"
    [currUser]="currUser"
    [listOfParsedFiles]="listOfParsedFiles"
    (displayParsedFiles)="setIsParsedFileVisible($event)"
  ></app-parsed-file-view>
</div>

<!-- Toast -->
<p-toast [life]="10000" position="bottom-right"></p-toast>
