<div class="wrapper column align-center">
  <h2>File Parsing</h2>
  <h3>Options</h3>
  <div class="row align-center gap-05 mt-15">
    <button type="button" (click)="onViewFiles()">View Files</button>
    <button type="button" (click)="onParseFiles()">Parse File</button>
    <button type="button" (click)="onCreateSpecFile()">Create Spec File</button>
  </div>
</div>

<!-- Popups -->
<app-add-spec-file-popup
  [currUser]="currUser"
  [(display)]="displayAddSpecFilePopup"
></app-add-spec-file-popup>

<app-add-parsed-file-popup
  [(display)]="displayAddParsedFilePopup"
  [currUser]="currUser"
  (fileChange)="onParseFileChange($event)"
></app-add-parsed-file-popup>
