<div class="wrapper column full-center mt-25">
  <div class="row">
    <h2 class="mb-15">{{ currUser.username }}'s Parsed Files</h2>
    <img
      src="../../../assets/image/close-button-png-30221.png"
      alt="Close Parsed Files"
      class="cross"
      (click)="onClose()"
    />
  </div>
  <div class="files-div">
    <div *ngFor="let parsedFile of listOfParsedFiles | async">
      {{ "{" }}
      <div *ngFor="let fileInfo of parsedFile.fileInfo | keyvalue">
        {{ fileInfo.key }}: {{ fileInfo.value }},
      </div>
      {{ "}" }}
      <br />
      <br />
    </div>
  </div>
</div>
