<div class="wrapper column full-center mt-25">
  <div class="row">
    <h2 class="mb-15">{{ currUser.username }}'s Parsed Files</h2>
    <img
      src="../../../assets/image/close-button-png-30221.png"
      alt="Close Parsed Files"
      class="cross"
      (click)="onClose()"
    />
  </div>
  <p>Pick SpecFile to Parse with</p>
  <p-dropdown
    [(ngModel)]="specFile"
    (onChange)="onChooseSpecFile()"
    (onClick)="onDropDownClick()"
    (onClear)="onClear()"
    [options]="listOfSpecFiles"
    [showClear]="true"
    optionLabel="name"
    placeholder="Select a SpecFile"
    appendTo="body"
    #specFileDropdown
  ></p-dropdown>
  <div class="files-div mt-15">
    <p>Number of Files found: {{ listOfParsedFiles.length }}</p>
    <div *ngFor="let parsedFile of listOfParsedFiles">
      {{ "{" }}
      <div *ngFor="let fileInfo of parsedFile.fileInfo | keyvalue">
        {{ fileInfo.key }}: {{ fileInfo.value }},
      </div>
      {{ "}" }}
      <br />
      <br />
    </div>
  </div>
</div>
