<p-dialog
  header="Add Spec File"
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
>
  <p>Upload Spec File</p>
  <input type="file" (change)="onFileSelected($event)" />
  <p *ngIf="isInvalidFileType" class="error">The file type must be .json</p>
  <p-footer>
    <button
      type="button"
      (click)="onConfirm()"
      label="Confirm"
      [disabled]="isConfirmDisabled"
    >
      Confirm
    </button>
    <button type="button" (click)="onCancel()" label="Cancel">Cancel</button>
  </p-footer>
</p-dialog>

<!-- Toast -->
<p-toast position="bottom-right"></p-toast>
